#home-container {
    width: 90%;
}

#config-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    min-height: 50px;
}

#country-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 500px) {
    #config-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin: 10px 0px;
        /* border: 1px solid black; */
        min-height: 100px;
    }

    #country-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}