#home-container {
    width: 90%;
}

#config-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#country-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}